@import "~bootstrap/scss/bootstrap";

.padding {
    padding: 15px;
}

.img-fluid {
    height: auto;
}

.full-height {
    height: 600px;
}

.ReactModal__Body--open {
    overflow: hidden;
}

html {
    min-height: 100% !important;
}

body {
    min-height: 100% !important;
}
